.red {
    background-color: #F00;
}

.cyan {
    background-color: #0FF;
}

.pattern_container {
    margin-bottom:20px;
}

.pattern_container .mdl-textfield {
    padding:0px;
    margin:0px;
}

.pattern_container .mdl-textfield input{
    font-size: 2em;
}

.pattern_row {
    width: 100%;
}

.pattern_row td {
    height: 5vw;
    border-left:1px solid #333;
    border-right:1px solid #333;
}

.pattern_row tr{
    border-bottom:1px solid #333;
}

.pattern_container > table tr {
    border-top:1px solid #333;
}

.hidden {
    display: none;
}
