#add_button_container {
  margin-top:0px;
}

#add_button_container button {
    margin-right:2.5vw;
    margin-top: 10px;
}

#timesignature_select_container button {
    margin-right:2.5vw;
}

.bell_row {
    margin-bottom:10px;
}

.close-btn, .top-menu-button {
  float:right;
}

.top-menu-button {
  margin-left:10px;
}

#file-load {
  display: none;
}

.mdl-button--fab.mdl-button--mini-fab.close-btn {
    max-height:40px;
    height:5vw;
    min-height:25px;

    max-width:40px;
    width:5vw;
    min-width:25px;
}

.editor_rows {
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.editor_rows td, .bell_row td, .drum_row td {
    cursor:crosshair;
}

.pattern_container {
    margin-bottom:20px;
}

.pattern_container .mdl-textfield {
    padding:0px;
    margin:0px;
    width:80%;
}

.pattern_container .mdl-textfield input{
    font-size: 3vw;
    border-width: 0;
}

.pattern_row {
    width: 100%;
}

.pattern_row td {
    height: 5vw;
    border-left:1px solid #999;
    border-right:1px solid #999;
}

.pattern_row td.gray-background {
    background-color: #eee;
}

.pattern_row tr{
    border-bottom:1px solid #999;
}

tr.pattern_display + tr.pattern_row {
}

.pattern_row:nth-child(1) {
    border-top: 1px solid #999;
}

.editor_rows > .pattern_row:nth-child(1) .selected, .bell_row .selected {
    background-image: url('../img/x.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.editor_rows > .pattern_row:nth-child(2) .selected, .drum_row_1 .selected{
    background-image: url('../img/triangle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.editor_rows > .pattern_row:nth-child(3) .selected, .drum_row_2 .selected{
    background-image: url('../img/ball.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.pattern_container > table tr {
    border-top:1px solid #999;
}

.pattern_display {
    margin-bottom: 10px
}
.pattern_display td {
    cursor:ns-resize;
}

.hidden {
    display: none;
}

.drum_row_2 > .pattern_row {
    border-top:0px;
}

.rhythm-title {
    padding:0px;
    margin:0px;
    width:60%;
}

.rhythm-title input{
    font-size: 3vw;
    border-width: 0;
}

.rhythm-title {
    float:left;
}
