#add_button_container button {
    margin-right:2.5vw;
}

.bell_row {
    margin-bottom:10px;
}

.close-btn {
  float:right;
}

.pattern_container {
    margin-bottom:20px;
}

.pattern_container .mdl-textfield {
    padding:0px;
    margin:0px;
}

.pattern_container .mdl-textfield input{
    font-size: 2em;
}

.pattern_row {
    width: 100%;
}

.pattern_row td {
    height: 5vw;
    border-left:1px solid #333;
    border-right:1px solid #333;
}

.pattern_row tr{
    border-bottom:1px solid #333;
}

tr.pattern_display + tr.pattern_row {
}

.pattern_row:nth-child(1) {
    border-top: 1px solid #333;
}

.pattern_row:nth-child(1) .selected, .selected-1{
    background-image: url('../img/triangle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.pattern_row:nth-child(2) .selected, .selected-2{
    background-image: url('../img/box.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.pattern_row:nth-child(3) .selected, .selected-3{
    background-image: url('../img/ball.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.pattern_container > table tr {
    border-top:1px solid #333;
}

.pattern_display {
    margin-bottom: 10px
}

.hidden {
    display: none;
}
